.custompagination{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5rem;
    margin-top: 6rem;
}

.pagination li button{
    color: #fff;
}

.pagination li div{
    color: #fff;
}